{% extends 'base.html.twig' %}

{% block title %}New Invitacion{% endblock %}

{% block body %}
    <h1>Create new Invitacion</h1>

    {{ include('invitacion/_form.html.twig') }}

    <a href="{{ path('app_invitacion_index') }}">back to list</a>
{% endblock %}
